<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
</div>
	
<article>

	<div class="col-sm-10">
	 <span class="post-date">
	   {% assign d = page.date | date: "%d" | plus:'0' %}
	   {{ page.date | date: "%B" }} 
	   {% case d %}
	     {% when 1 or 21 or 31 %}{{ d }}st,
	     {% when 2 or 22 %}{{ d }}nd,
	     {% when 3 or 23 %}{{ d }}rd,
	     {% else %}{{ d }}th,
	   {% endcase %}
	   {{ page.date | date: "%Y" }}
	 </span>
	  <div class="article_body">
	  {{ content }}
	  </div>

		{% unless page.categories == empty %}
		  <i class="fa fa-folder-open"></i>
		  {% assign categories_list = page.categories %}
		  {% if categories_list.first[0] == null %}
			{% for category in categories_list %} 
				<a href="{{ site.BASE_PATH }}/{{ site.categories_path }}#{{ category }}-ref">
					{{ category | join: "/" }} <span>({{ site.categories[category].size }})</span>
					{% unless forloop.last %},{% endunless %}
				</a>
			{% endfor %}
		  {% else %}
			{% for category in categories_list %} 
				<a href="{{ site.BASE_PATH }}/{{ site.categories_path }}#{{ category[0] }}-ref">
					{{ category[0] | join: "/" }} <span>/{{ category[1].size }})</span>
				</a>
			{% endfor %}
		  {% endif %}

		{% endunless %}  

		{% unless page.tags == empty %}

		  <br /><i class="fa fa-tags"></i>
		  {% assign tags_list = page.tags %}
		  {% if tags_list.first[0] == null %}
			{% for tag in tags_list %} 

				<a href="{{ site.BASE_PATH }}/{{ site.tags_path }}#{{ tag }}-ref">
				{{ tag }} <span>({{ site.tags[tag].size }})</span>
				{% unless forloop.last %},{% endunless %}
				</a>

			{% endfor %}
		  {% else %}
			{% for tag in tags_list %} 

				<a href="{{ site.BASE_PATH }}/{{ site.tags_path }}#{{ tag[0] }}-ref">
					{{ tag[0] }} <span>({{ tag[1].size }})</span>
					{% unless forloop.last %},{% endunless %}
				</a>

		   	
			{% endfor %}
		  {% endif %}
		  {% assign tags_list = nil %}

		{% endunless %}  

		<hr>

		<div>
    </div>

    <div class="clearfix"></div>


		  {% if page.previous %}
		  <span class="previous"><a href="{{ site.BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></span>
		  {% else %}
		  <span class="previous disabled"><a>&larr; Previous</a></span>
		  {% endif %}
		  {% if page.next %}
		  <span class="next"><a href="{{ site.BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></span>
		  {% else %}
			<span class="next disabled"><a>Next &rarr;</a>
		  {% endif %}


		<hr>
	</div>
	
	<div class="col-sm-2 sidebar-2">
	
	</div>
</article>
<div class="clearfix"></div>
